<!-- Footer -->
<footer
  class="footer bg-dark pb-3 pt-sm-3 py-md-4 py-lg-5"
  data-bs-theme="dark"
>
  <div class="container py-5">
    <div
      class="d-md-flex align-items-center justify-content-between pb-1 pb-md-0 mb-4 mb-md-5"
    >
      <nav
        class="nav justify-content-center justify-content-md-start pb-sm-2 pb-md-0 mb-4 mb-md-0 ms-md-n3"
      >
        {% for item in site.data.navigation.footer %}
        <a
          class="nav-link py-1 px-0 mx-3"
          href="{{ site.baseurl }}{{ item.url }}"
          >{{ item.name }}</a
        >
        {% endfor %}
      </nav>
      <div
        class="d-flex justify-content-center justify-content-md-end align-items-center"
      >
        <a
          href="{% link _pages/my-story.md %}"
          class="d-inline-block"
          aria-label="Learn more about Mel Horsfall’s story and professional background"
        >
          <img
            src="{{ 'assets/img/accreditations.webp' | relative_url }}"
            alt="Professional accreditations and memberships"
            class="img-fluid"
            style="max-height: 80px"
          />
        </a>
      </div>      
    </div>
    <div
      class="nav d-block d-md-flex align-items-center justify-content-between text-center text-md-start"
    >
      <a
        class="nav-link d-inline-block text-body-secondary fs-sm text-decoration-none order-md-2 py-1 px-0 mb-3 mb-md-0"
        href="{% link _pages/policies/privacy.md %}"
        >Privacy policy</a
      >
      <p class="fs-sm order-md-1 mb-0">
        <span class="text-body-secondary"
          >&copy; All rights reserved. 
      </p>
    </div>
  </div>
</footer>
