<!-- Features -->
<section class="bg-dark text-light py-5">
  <div
    class="container py-5 my-lg-3 my-xl-4 my-xxl-5"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="280"
    data-disable-parallax-down="md"
  >
    <div class="row align-items-start py-2 py-sm-3 my-md-3 mb-lg-4 mb-xl-5">
      <!-- Image Column (top aligned) -->
      <div
        class="col-md-5 col-lg-4 col-xl-4 pb-4 pb-md-0 mb-3 mb-md-0 text-center text-md-start"
      >
        <img
          class="rounded-4 img-fluid"
          style="max-width: 75%"
          src="{{ 'assets/img/mel-horsfall.webp' | relative_url }}"
          alt="Mel Horsfall"
        />
      </div>

      <!-- Empty Column for spacing on XL -->
      <div class="d-none d-xl-block col-xl-1"></div>

      <!-- Text Column (wider, with offset on XL) -->
      <div
        class="col-md-7 col-xl-7"
        data-aos="fade-up"
        data-aos-duration="850"
        data-aos-offset="180"
        data-disable-parallax-down="md"
      >
        <div class="ps-md-4 ps-xl-0">
          <h2 class="h1 pb-3 mb-2 mb-md-3 mb-xl-4 text-light">About Me</h2>
          <p class="fs-lg pb-3 mb-3">
            My name is Mel, and I am a certified Play Therapist with
            post-graduate level training and professional registration. My
            therapeutic practice developed after working for over twenty years
            in education, with over ten years as a specialist SEND teacher and
            SEND Coordinator within alternative provision.
          </p>
          <p class="fs-lg pb-3 mb-3">
            I have a specialist interest in neurodiversity and draw on vast
            experience working with children who are Autistic, ADHD and sensory
            processing difficulties. Play Therapy is inherently neuro-affirming,
            working holistically with the child at the centre. I have a deep
            understanding of child development and am both attachment & trauma
            informed. I work with children aged 4-13, although please get in
            touch if your young person is older with SEND. I offer sessions in
            Worthing and the surrounding areas of West Sussex (South).
          </p>
          <p class="fs-lg pb-3 mb-3">
            <strong>
              Certified Professional with Post-graduate Diploma- Chichester
              University (Distinction)</strong
            >
          </p>
          <p class="fs-lg pb-3 mb-3">
            I am a registered member of
            <a
              href="https://playtherapyregister.org.uk/contact/mel-horsfall/"
              target="_blank"
              rel="noopener"
              >Play Therapy UK (PTUK)</a
            >. This manages the register of Play and Creative Arts Therapists
            and is accredited by the Professional Standards Authority. It is the
            largest, most progressive Play Therapy professional organisation
            both in the UK and internationally.
          </p>
          <a href="{% link _pages/contact.md %}" class="btn btn-primary"
            >Get in touch</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
