<!-- Features -->
<section class="bg-secondary py-5">
  <div
    class="container py-5 my-lg-3 my-xl-4 my-xxl-5"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="280"
    data-disable-parallax-down="md"
  >
    <div class="row align-items-start py-2 py-sm-3 my-md-3 mb-lg-4 mb-xl-5">
      <!-- Image Column (top aligned) -->
      <div
        class="col-md-5 col-lg-4 col-xl-4 pb-4 pb-md-0 mb-3 mb-md-0 text-center text-md-start"
      >
        <img
          class="rounded-4 img-fluid"
          src="{{ 'assets/img/mel-horsfall.webp' | relative_url }}"
          alt="Mel Horsfall"
        />
      </div>

      <!-- Empty Column for spacing on XL -->
      <div class="d-none d-xl-block col-xl-1"></div>

      <!-- Text Column (wider, with offset on XL) -->
      <div
        class="col-md-7 col-xl-7"
        data-aos="fade-up"
        data-aos-duration="850"
        data-aos-offset="180"
        data-disable-parallax-down="md"
      >
        <div class="ps-md-4 ps-xl-0">
          <h2 class="h1 pb-3 mb-2 mb-md-3 mb-xl-4">Why work with me?</h2>
          <p class="fs-lg pb-3 mb-3">
           My name is Mel, and I am a qualified practitioner with post-graduate level training and professional registration. My therapeutic practice developed after working for over twenty years in education, with over ten years as a specialist SEND teacher. I work holistically with the child at the centre, in a way that is both permissive and develops a sense of responsibility. I have a deep understanding of child development and am both attachment & trauma-informed. I have a specific interest in neurodiversity and have worked with Autistic children and their families for over ten years. Play Therapy offers expression through play and unconditional acceptance of all brain functions and is therefore inherently neuro-affirming.
          </p>
          <ul class="list-unstyled pb-1 pb-xl-2">
            <li class="d-flex align-items-center fs-lg pb-1 mb-3">
              <i class="ai-emoji-smile text-primary fs-4 me-3"></i>
              Child‑centred creative arts and play therapy for ages 4–13.
            </li>
            <li class="d-flex align-items-center fs-lg pb-1 mb-3">
              <i class="ai-joystick text-primary fs-4 me-3"></i>
              School‑based programmes and group interventions to support
              emotional wellbeing.
            </li>
            <li class="d-flex align-items-center fs-lg pb-1 mb-3">
              <i class="ai-user-group text-primary fs-4 me-3"></i>
              Parent and carer consultations with practical guidance for home
              support.
            </li>
            <li class="d-flex align-items-center fs-lg pb-1 mb-3">
              <i class="ai-heart-alt text-primary fs-4 me-3"></i>
              Holistic, trauma‑informed and neurodiversity‑affirming approach.
            </li>
            <li class="d-flex align-items-center fs-lg pb-1 mb-3">
              <i class="ai-chat text-primary fs-4 me-3"></i>
              Collaborative work with families, teachers and professionals.
            </li>
          </ul>

          <h3 class="h5 text-body mb-lg-4">My qualifications</h3>
          <ul>
            <li>
              Research Masters in education, supporting neurotypical and
              neurodiverse children
            </li>
            <li>Certificate in Therapeutic Play (Distinction)</li>
            <li>Diploma in Play Therapy (Trainee)</li>
            <li>
              Member of PTUK, accredited by the Professional Standards Authority
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
