<!-- Services -->
<section class="container py-5">
  <h2 class="h1 text-center pt-2 pt-sm-3 pt-md-4 pt-xl-5 mt-lg-2 mt-xl-1">
    Creative Arts &amp; Play Therapy for children aged 4-13
  </h2>
  <p class="text-center pb-3 mb-3 mb-lg-4">
    Using play to support child wellbeing, Mel draws on over 20 years&#39;
    experience working with young people, their families, and wider
    professionals across Worthing and the Sussex area.
  </p>
  <h2 class="h2 text-center">Services</h2>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-4">
    <!-- Item -->
    <div class="col">
      <a
        class="card card-hover h-100 border-0 bg-secondary rounded-1 text-decoration-none overflow-hidden"
        href="{% link _pages/play-therapy.md %}"
      >
        <div class="card-body pb-3">
          <h3 class="h4">Play Therapy</h3>
          <p class="mb-0">
            Play Therapy sessions offered as individual sessions and in small
            groups
          </p>
          <div class="ratio ratio-21x9 mt-3 rounded-1 overflow-hidden">
            <img
              src="{{ 'assets/img/landing/group_hands_paint.webp' | relative_url }}"
              alt="Service placeholder image"
              class="w-100 h-100"
              style="object-fit: cover; object-position: center center"
            />
          </div>
        </div>
        <div class="card-footer border-0 pt-3 mb-3">
          <span class="btn btn-outline-primary pe-none">
            Read more about this service
          </span>
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="col">
      <a
        class="card card-hover h-100 border-0 bg-secondary rounded-1 text-decoration-none overflow-hidden"
        href="{% link _pages/school-parent-support.md %}"
      >
        <div class="card-body pb-3">
          <h3 class="h4">Home/School Support</h3>
          <p class="mb-0">
            Consultations offered to support your child’s needs at home. Advice
            and training offered to schools.
          </p>
          <div class="ratio ratio-21x9 mt-3 rounded-1 overflow-hidden">
            <img
              src="{{ 'assets/img/landing/group_hands_paint.webp' | relative_url }}"
              alt="Service placeholder image"
              class="w-100 h-100"
              style="object-fit: cover; object-position: center center"
            />
          </div>
        </div>
        <div class="card-footer border-0 pt-3 mb-3">
          <span class="btn btn-outline-primary pe-none">
            Read more about this service
          </span>
        </div>
      </a>
    </div>
  </div>
</section>
