<!-- Services -->
<section class="container py-5">
  <h2 class="h1 text-center pt-2 pt-sm-3 pt-md-4 pt-xl-5 mt-lg-2 mt-xl-1">
    Creative Arts &amp; Play Therapy for children aged 4-13
  </h2>
  <p class="text-center pb-3 mb-3 mb-lg-4">
    Using play to support child wellbeing, Mel draws on over 20 years&#39;
    experience working with young people, their families, and wider
    professionals across Worthing and the Sussex area.
  </p>
  <h2 class="h2 text-center">Services</h2>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-3 g-4">
    <!-- Item -->
    <div class="col">
      <a
        class="card card-hover h-100 border-0 bg-secondary rounded-1 text-decoration-none overflow-hidden"
        href="{% link _pages/play-therapy.md %}"
      >
        <div class="card-body pb-3">
          <h3 class="h4 text-uppercase">Play Therapy</h3>
          <div class="ratio ratio-21x9 mt-3 rounded-1 overflow-hidden">
            <img
              src="{{ 'assets/img/play-therapy/play-therapy-hand-toy-1764595229.webp' | relative_url }}"
              alt="Play therapy"
              class="w-100 h-100"
              style="object-fit: cover; object-position: center center"
            />
          </div>
          <p class="mt-3">
            Play Therapy sessions are offered one-to-one for individuals and
            small groups.
          </p>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Child sessions
            </li>
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Regular reviews
            </li>
            <li>
              <i class="ai-check-alt text-primary me-2"></i>Parental support
            </li>
          </ul>
        </div>
        <div class="card-footer border-0 pt-3 mb-3">
          <span class="btn btn-outline-primary pe-none">
            Read more about this service
          </span>
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="col">
      <a
        class="card card-hover h-100 border-0 bg-secondary rounded-1 text-decoration-none overflow-hidden"
        href="{% link _pages/packages.md %}"
      >
        <div class="card-body pb-3">
          <h3 class="h4 text-uppercase">Packages</h3>
          <div class="ratio ratio-21x9 mt-3 rounded-1 overflow-hidden">
            <img
              src="{{ 'assets/img/play-therapy/colorful-kites-flying-1761996459.webp' | relative_url }}"
              alt="Packages"
              class="w-100 h-100"
              style="object-fit: cover; object-position: center center"
            />
          </div>
          <p class="mt-3">
            Individual and group sessions are offered to schools.
          </p>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Child sessions
            </li>
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Regular reviews
            </li>
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Staff
              support/training
            </li>
            <li>
              <i class="ai-check-alt text-primary me-2"></i>School liaison
            </li>
          </ul>
        </div>
        <div class="card-footer border-0 pt-3 mb-3">
          <span class="btn btn-outline-primary pe-none">
            Read more about this service
          </span>
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="col">
      <a
        class="card card-hover h-100 border-0 bg-secondary rounded-1 text-decoration-none overflow-hidden"
        href="{% link _pages/parent-carer-support.md %}"
      >
        <div class="card-body pb-3">
          <h3 class="h4 text-uppercase">Parent/Carer Support</h3>
          <div class="ratio ratio-21x9 mt-3 rounded-1 overflow-hidden">
            <img
              src="{{ 'assets/img/play-therapy/unity-through-connection-3936938.webp' | relative_url }}"
              alt="Parent and carer support"
              class="w-100 h-100"
              style="object-fit: cover; object-position: center center"
            />
          </div>
          <p class="mt-3">
            Support and guidance offered to parents and carers throughout the
            therapeutic process.
          </p>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Parent consultations
            </li>
            <li class="mb-1">
              <i class="ai-check-alt text-primary me-2"></i>Regular reviews
            </li>
            <li>
              <i class="ai-check-alt text-primary me-2"></i>Guidance and
              resources
            </li>
          </ul>
        </div>
        <div class="card-footer border-0 pt-3 mb-3">
          <span class="btn btn-outline-primary pe-none">
            Read more about this service
          </span>
        </div>
      </a>
    </div>
  </div>
</section>
