<!-- Testimonials (Slider) -->
<section class="container py-5">
  <div
    class="card border-0 bg-secondary rounded-1 position-relative overflow-hidden"
  >
    <div class="card-body position-relative z-2 px-lg-0 py-lg-5">
      <div class="row py-2 py-sm-1 py-md-3 py-lg-4 py-xl-5">
        <div class="col-md-4 col-lg-3 offset-lg-1 mb-3 mb-md-0">
          <!-- Binded items -->
          <div class="binded-content">
            <!-- Item -->
            <div class="binded-item active" id="author1">
              <i class="ai-quotes fs-1"></i>
              <h4 class="mb-0">Just Jeffrey</h4>
              <p class="fs-lg text-body-secondary mb-0">
                Head Teacher, Downsbrook Primary
              </p>
            </div>

            <!-- Item -->
            <div class="binded-item" id="author2">
              <i class="ai-quotes fs-1"></i>
              <h4 class="mb-0">Susie Tunney</h4>
              <p class="fs-lg text-body-secondary mb-0">
                Primary School Teacher
              </p>
            </div>

            <!-- Item -->
            <div class="binded-item" id="author3">
              <i class="ai-quotes fs-1"></i>
              <h4 class="mb-0">Rob Fitzwarine</h4>
              <p class="fs-lg text-body-secondary mb-0">
                Primary School Teacher
              </p>
            </div>

            <!-- Item -->
            <div class="binded-item" id="author4">
              <i class="ai-quotes fs-1"></i>
              <h4 class="mb-0">Parent</h4>
              <p class="fs-lg text-body-secondary mb-0">Worthing</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-7">
          <!-- Swiper slider -->
          <div
            class="swiper"
            data-swiper-options='{
                  "spaceBetween": 40,
                  "loop": true,
                  "autoHeight": true,
                  "bindedContent": true,
                  "pagination": {
                    "el": "#testimonials-bullets",
                    "clickable": true
                  }
                }'
          >
            <div class="swiper-wrapper">
              <!-- Item -->
              <div class="swiper-slide" data-swiper-binded="#author1">
                <p class="text-dark lead mb-0">
                  We are incredibly grateful for the exceptional support and
                  care provided by Mel. Her warm, empathetic, and compassionate
                  approach has made a profound difference in the lives of our
                  children and in their ability to navigate some very complex
                  situations and periods in their lives. Mel has a natural
                  ability to connect with children, helping them feel seen,
                  understood, and valued. She has worked with many children here
                  at Downsbrook, always holding clear and consistent
                  boundaries—something that has allowed children to feel truly
                  safe and secure in their sessions. Because of this, our
                  children have been able to open up at their own pace, explore
                  their feelings, and build the trust they need to grow and
                  heal.
                </p>
              </div>

              <!-- Item -->
              <div class="swiper-slide" data-swiper-binded="#author2">
                <p class="text-dark lead mb-0">
                  Having Mel as our play therapist has been such a wonderful
                  support for both the children and the staff. I've really
                  noticed how much more settled, confident, and open the
                  children have become. Mel's also shared some great whole-class
                  strategies that have made a difference to the overall well-
                  being and positivity in the classroom. Working together with
                  Mel feels like such a positive step forward for everyone
                </p>
              </div>

              <!-- Item -->
              <div class="swiper-slide" data-swiper-binded="#author3">
                <p class="text-dark lead mb-0">
                  Mel is a wonderful play therapist who uses her superb
                  interpersonal skills to form close working relationships with
                  the children. This builds trust, creates a safe space to
                  explore and allows them to make the most of the sessions. The
                  children clearly find them useful.
                </p>
              </div>

              <!-- Item -->
              <div class="swiper-slide" data-swiper-binded="#author4">
                <p class="text-dark lead mb-0">
                  Our son had a hugely positive experience with Mel during a
                  difficult phase involving emotional regulation and
                  friendships. He always looked forward to his sessions and it
                  gave him space and time to reflect on how things were going.
                  We really appreciated her communication with the school and
                  his class teachers which meant practical tools could be
                  implemented to support both in the classroom and on the
                  playground. We have seen a real improvement in how he manages
                  himself and deals with tricky situations!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Swiper pagination (bullets) -->
  <div
    class="swiper-pagination position-relative bottom-0 pt-4 mt-2 mt-md-3"
    id="testimonials-bullets"
  ></div>

  <div class="text-center pt-3 mt-2">
    <a href="{% link _pages/testimonials.md %}" class="btn btn-outline-primary">
      Read More Testimonials
    </a>
  </div>
</section>
