---
layout: default
---

<!-- Page container-->
<section class="container py-5 clear-header">
  <!-- Breadcrumb-->
  {% include breadcrumbs.html %}

  <h1 class="pb-2 pb-lg-3">{{ page.title }}</h1>

  <!-- Page content -->
  {{ content }}
</section>

<!-- Sidebar toggle button -->
<button
  class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#sidebar"
>
  <i class="ai-layout-column me-2"></i>
  Sidebar
</button>
