//
// user-variables.scss
// Use this to override Bootstrap and Around variables
//

// Example of a variable override to change body background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #f6f9fc;

$font-family-sans-serif: poppins, sans-serif;
$primary: #405d8f !default;
$secondary: #638979 !default;
